.section-top {
  background: image-url('bg/top.jpg') no-repeat;
  @include background-size(cover);
  background-attachment: fixed;
  color: #fff;

  h2 {
    font-size: 48px;
    font-family: $opensans-regular;

    strong {
      color: #e60000;
    }

    span {
      font-size: 72px;
    }
  }

  circle {
    fill: #fff;
    stroke: #0088cc;
    stroke-width: 6;
    stroke-dasharray: 15 879; /* 2π × 25 ≈ 158 */
  }

  svg {
    transform: rotate(-90deg);
    background: #e5f3fa;
    border-radius: 50%;
  }
}